header{
    display: block;
    height: 30px;
    width: 100vw;
    margin: 0 auto;
    padding: 20px 10px;
    background: #121212;
   

    .wrap{
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .logo{
        display: block;
        width: 250px;

        img{
            height: 40px;
            width: auto;
        }

    }
}